@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Cardo:ital,wght@0,400;0,700;1,400&family=Dancing+Script&family=Great+Vibes&family=Nosifer&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Beau Rivage  */
}

.logo {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid #393737;
    border-radius: 50%;
}

.bg {
    background-image: url(image/mmm.JPG);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

.heroytital {
    width: 500px;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    color: rgb(238, 237, 237);
    font-weight: 400;
    font-size: 30px;


}

.yellow {
    color: rgb(234, 226, 76);
    font-family: Beau Rivage;
    font-size: 40px;
}

.dropdown-menu {
    padding: 20px !important;
}

#element {
    color: rgb(163, 99, 231);

}